In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.datasets import load_boston
boston = load_boston()
y = boston.target
bos = pd.DataFrame(boston.data, columns=boston.feature_names)
bos['price'] = y

C:\Users\ClassRoom 2\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

In [4]:
from sklearn.feature_selection import RFE

In [5]:
y = bos['price']
X = bos.drop('price', axis=1)

In [6]:
cols=list(X.columns)
cols.remove('CHAS')
for col in cols:
    X[col+'_2'] = X[col]**2

In [7]:
X.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'CRIM_2', 'ZN_2', 'INDUS_2', 'NOX_2', 'RM_2',
       'AGE_2', 'DIS_2', 'RAD_2', 'TAX_2', 'PTRATIO_2', 'B_2', 'LSTAT_2'],
      dtype='object')

In [8]:
from sklearn.linear_model import LinearRegression
lir = LinearRegression()
rfe = RFE(lir, n_features_to_select=10, verbose=2)
rfe.fit(X, y)

Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.
Fitting estimator with 18 features.
Fitting estimator with 17 features.
Fitting estimator with 16 features.
Fitting estimator with 15 features.
Fitting estimator with 14 features.
Fitting estimator with 13 features.
Fitting estimator with 12 features.
Fitting estimator with 11 features.

RFE(estimator=LinearRegression(), n_features_to_select=10, verbose=2)

In [9]:
rfe.ranking_

array([ 1, 12,  4,  1,  1,  1, 11,  1,  2,  6,  1,  8,  1,  9, 13,  7,  1,
        1, 14,  1, 10, 16,  3, 15,  5])

In [10]:
pd.DataFrame(rfe.ranking_, index=X.columns, columns=['select'])

           select
CRIM            1
ZN             12
INDUS           4
CHAS            1
NOX             1
RM              1
AGE            11
DIS             1
RAD             2
TAX             6
PTRATIO         1
B               8
LSTAT           1
CRIM_2          9
ZN_2           13
INDUS_2         7
NOX_2           1
RM_2            1
AGE_2          14
DIS_2           1
RAD_2          10
TAX_2          16
PTRATIO_2       3
B_2            15
LSTAT_2         5

#### Cross Validation to decide the best number of Features

In [11]:
from sklearn.model_selection import GridSearchCV, KFold
lir = LinearRegression()
rfe = RFE(lir)

params=[{'n_features_to_select':list(range(1,26))}]
kf = KFold(shuffle=True, n_splits=3, random_state=4)
gs=GridSearchCV(rfe, param_grid=params, scoring='r2', cv=kf)
gs.fit(X, y)

GridSearchCV(cv=KFold(n_splits=3, random_state=4, shuffle=True),
             estimator=RFE(estimator=LinearRegression()),
             param_grid=[{'n_features_to_select': [1, 2, 3, 4, 5, 6, 7, 8, 9,
                                                   10, 11, 12, 13, 14, 15, 16,
                                                   17, 18, 19, 20, 21, 22, 23,
                                                   24, 25]}],
             scoring='r2')

In [12]:
gs.best_params_

{'n_features_to_select': 18}

In [13]:
cvr = pd.DataFrame(gs.cv_results_)
cvr.iloc[:,5:]

,params,split0_test_score,split1_test_score,split2_test_score,mean_test_score,std_test_score,rank_test_score
0,{'n_features_to_select': 1},0.123653,0.204741,0.196705,0.175033,0.036479,25
1,{'n_features_to_select': 2},0.118997,0.214394,0.203094,0.178828,0.042558,24
2,{'n_features_to_select': 3},0.569563,0.475410,0.500689,0.515221,0.039788,23
3,{'n_features_to_select': 4},0.571525,0.510870,0.503556,0.528651,0.030464,22
4,{'n_features_to_select': 5},0.632146,0.659056,0.556772,0.615992,0.043292,21
5,{'n_features_to_select': 6},0.677185,0.674129,0.606343,0.652552,0.032698,20
6,{'n_features_to_select': 7},0.687165,0.666255,0.622359,0.658593,0.027006,19
7,{'n_features_to_select': 8},0.773777,0.786518,0.711971,0.757422,0.032557,17
8,{'n_features_to_select': 9},0.774959,0.776025,0.718186,0.756390,0.027018,18
9,{'n_features_to_select': 10},0.769637,0.799010,0.730901,0.766516,0.027893,16
10,{'n_features_to_select': 11},0.774660,0.800448,0.733283,0.769463,0.027665,15
11,{'n_features_to_select': 12},0.775768,0.802497,0.732813,0.770360,0.028704,14
12,{'n_features_to_select': 13},0.777159,0.802648,0.760753,0.780187,0.017237,13
13,{'n_features_to_select': 14},0.801567,0.814186,0.761212,0.792322,0.022593,12
14,{'n_features_to_select': 15},0.804876,0.810420,0.768084,0.794460,0.018788,11
15,{'n_features_to_select': 16},0.803379,0.819630,0.768321,0.797110,0.021411,9
16,{'n_features_to_select': 17},0.801787,0.820491,0.768583,0.796954,0.021465,10
17,{'n_features_to_select': 18},0.801611,0.826503,0.775051,0.801055,0.021009,1
18,{'n_features_to_select': 19},0.803252,0.813946,0.775036,0.797412,0.016413,8
19,{'n_features_to_select': 20},0.806551,0.814184,0.774916,0.798550,0.017000,6
20,{'n_features_to_select': 21},0.806568,0.814152,0.779184,0.799968,0.015019,3
21,{'n_features_to_select': 22},0.808800,0.814720,0.779312,0.800944,0.015486,2
22,{'n_features_to_select': 23},0.807674,0.811928,0.778941,0.799514,0.014651,4
23,{'n_features_to_select': 24},0.807221,0.810107,0.777402,0.798243,0.014784,7
24,{'n_features_to_select': 25},0.807802,0.810448,0.779166,0.799139,0.014164,5

In [14]:
from sklearn.linear_model import LinearRegression
lir = LinearRegression()
rfe = RFE(lir, n_features_to_select=18, verbose=2)
rfe.fit(X, y)
pd.DataFrame(rfe.ranking_, index=X.columns, columns=['select'])

Fitting estimator with 25 features.
Fitting estimator with 24 features.
Fitting estimator with 23 features.
Fitting estimator with 22 features.
Fitting estimator with 21 features.
Fitting estimator with 20 features.
Fitting estimator with 19 features.

           select
CRIM            1
ZN              4
INDUS           1
CHAS            1
NOX             1
RM              1
AGE             3
DIS             1
RAD             1
TAX             1
PTRATIO         1
B               1
LSTAT           1
CRIM_2          1
ZN_2            5
INDUS_2         1
NOX_2           1
RM_2            1
AGE_2           6
DIS_2           1
RAD_2           2
TAX_2           8
PTRATIO_2       1
B_2             7
LSTAT_2         1

### Forward Selection (SFS)

In [15]:
from mlxtend.feature_selection import SequentialFeatureSelector as sfs

In [20]:
lir = LinearRegression()
rfe=RFE(lir)
sfs1 = sfs(lir, k_features=25, forward=True, scoring='r2', cv=3, verbose=0)
sfs1.fit(X, y)

SequentialFeatureSelector(cv=3, estimator=LinearRegression(),
                          k_features=(25, 25), scoring='r2')

In [21]:
sf = pd.DataFrame(sfs1.subsets_).T
sf

,feature_idx,cv_scores,avg_score,feature_names
1,"(12,)","[0.4282058950703872, 0.10625862067785852, 0.42...",0.318193,"(LSTAT,)"
2,"(12, 24)","[0.5971866800867404, 0.33820569343776485, 0.34...",0.428168,"(LSTAT, LSTAT_2)"
3,"(10, 12, 24)","[0.6192447629047668, 0.4318640448736344, 0.453...",0.501426,"(PTRATIO, LSTAT, LSTAT_2)"
4,"(10, 12, 19, 24)","[0.583360856329318, 0.49539451315791183, 0.486...",0.521868,"(PTRATIO, LSTAT, DIS_2, LSTAT_2)"
5,"(10, 12, 19, 22, 24)","[0.5966221230651585, 0.5132786398617661, 0.484...",0.531376,"(PTRATIO, LSTAT, DIS_2, PTRATIO_2, LSTAT_2)"
6,"(10, 12, 16, 19, 22, 24)","[0.6392027090762633, 0.5479380762020674, 0.434...",0.540588,"(PTRATIO, LSTAT, NOX_2, DIS_2, PTRATIO_2, LSTA..."
7,"(3, 10, 12, 16, 19, 22, 24)","[0.6395271074025032, 0.5547130659533605, 0.469...",0.554536,"(CHAS, PTRATIO, LSTAT, NOX_2, DIS_2, PTRATIO_2..."
8,"(3, 10, 12, 16, 19, 22, 23, 24)","[0.6457365165356654, 0.5551221100802757, 0.478...",0.559774,"(CHAS, PTRATIO, LSTAT, NOX_2, DIS_2, PTRATIO_2..."
9,"(3, 4, 10, 12, 16, 19, 22, 23, 24)","[0.66580783529969, 0.5454984658638387, 0.48541...",0.565575,"(CHAS, NOX, PTRATIO, LSTAT, NOX_2, DIS_2, PTRA..."
10,"(3, 4, 10, 12, 14, 16, 19, 22, 23, 24)","[0.6687717349019364, 0.5467653704179745, 0.492...",0.569349,"(CHAS, NOX, PTRATIO, LSTAT, ZN_2, NOX_2, DIS_2..."
11,"(3, 4, 6, 10, 12, 14, 16, 19, 22, 23, 24)","[0.6811645455623492, 0.5281286082373717, 0.496...",0.56853,"(CHAS, NOX, AGE, PTRATIO, LSTAT, ZN_2, NOX_2, ..."
12,"(3, 4, 6, 10, 12, 14, 16, 18, 19, 22, 23, 24)","[0.678735673717441, 0.5234417990465173, 0.4871...",0.563114,"(CHAS, NOX, AGE, PTRATIO, LSTAT, ZN_2, NOX_2, ..."
13,"(1, 3, 4, 6, 10, 12, 14, 16, 18, 19, 22, 23, 24)","[0.6772994138042612, 0.5049591893479564, 0.486...",0.556391,"(ZN, CHAS, NOX, AGE, PTRATIO, LSTAT, ZN_2, NOX..."
14,"(1, 3, 4, 6, 10, 11, 12, 14, 16, 18, 19, 22, 2...","[0.6602980288636242, 0.49358833007337233, 0.48...",0.547438,"(ZN, CHAS, NOX, AGE, PTRATIO, B, LSTAT, ZN_2, ..."
15,"(1, 3, 4, 6, 10, 11, 12, 14, 15, 16, 18, 19, 2...","[0.650502897332649, 0.47210773177450327, 0.487...",0.536622,"(ZN, CHAS, NOX, AGE, PTRATIO, B, LSTAT, ZN_2, ..."
16,"(1, 2, 3, 4, 6, 10, 11, 12, 14, 15, 16, 18, 19...","[0.6581579970913309, 0.43958531929194933, 0.46...",0.521412,"(ZN, INDUS, CHAS, NOX, AGE, PTRATIO, B, LSTAT,..."
17,"(1, 2, 3, 4, 6, 7, 10, 11, 12, 14, 15, 16, 18,...","[0.6036137963682918, 0.4650246197841369, 0.443...",0.503991,"(ZN, INDUS, CHAS, NOX, AGE, DIS, PTRATIO, B, L..."
18,"(1, 2, 3, 4, 6, 7, 10, 11, 12, 14, 15, 16, 17,...","[0.7170388773796161, 0.5710506828603572, 0.122...",0.470041,"(ZN, INDUS, CHAS, NOX, AGE, DIS, PTRATIO, B, L..."
19,"(1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 14, 15, 16, ...","[0.7547556613717121, 0.6390933406287695, 0.287...",0.560575,"(ZN, INDUS, CHAS, NOX, RM, AGE, DIS, PTRATIO, ..."
20,"(1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 14, 15, 16, ...","[0.6744228769834615, 0.6734765539705767, 0.305...",0.55103,"(ZN, INDUS, CHAS, NOX, RM, AGE, DIS, PTRATIO, ..."
21,"(1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 14, 15, 16, ...","[0.7144666082427196, 0.692176259521669, 0.3014...",0.569377,"(ZN, INDUS, CHAS, NOX, RM, AGE, DIS, PTRATIO, ..."
22,"(0, 1, 2, 3, 4, 5, 6, 7, 10, 11, 12, 14, 15, 1...","[0.7214308251731026, 0.711353800817168, 0.1817...",0.538177,"(CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, PTR..."
23,"(0, 1, 2, 3, 4, 5, 6, 7, 9, 10, 11, 12, 14, 15...","[0.5002176502504221, 0.6931011206227174, -17.5...",-5.461056,"(CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, TAX..."
24,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14,...","[0.4511696925636639, 0.707619720554973, -1.329...",-0.056884,"(CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD..."
25,"(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0.47194642360244854, 0.7109700859457755, -344...",-1146.298493,"(CRIM, ZN, INDUS, CHAS, NOX, RM, AGE, DIS, RAD..."

In [18]:
sf2=sf[sf['avg_score']==sf['avg_score'].max()]['feature_names']
list(sf2)[0]

('CRIM',
 'ZN',
 'INDUS',
 'CHAS',
 'NOX',
 'RM',
 'AGE',
 'DIS',
 'RAD',
 'TAX',
 'PTRATIO',
 'B',
 'LSTAT',
 'ZN_2',
 'INDUS_2',
 'RM_2',
 'AGE_2',
 'DIS_2',
 'TAX_2',
 'PTRATIO_2',
 'B_2',
 'LSTAT_2')